/**
 * site.css
 * styles for the whole app
 */

/**
 * scaffolding
 */
html, body {
  background: #a0a0a0;
  color: #333;
  font-family: Helvetica, Arial;
  font-size: 100%;
  height: 100%;
  width: 100%;
}
.frame {
  background: white;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100%;
}
.main {
  background: white;
  min-height: 100%;
  padding: 0 10px;
  position: relative;
}

/**
 * presentation elements
 */
h2 {
  font-size: 150%;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
code {
  font-family: monospace;
}

/**
 * data tables
 */
.data-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.data-table th {
  background: #f0f0f0;
  border: 1px solid #ccc;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.data-table td {
  border: 1px solid #ccc;
  padding: 5px;
}
.data-table p {
  margin: 0;
}
.data-table code {
  word-break: break-all;
}
.data-table dl,
.data-table dt,
.data-table dd {
  display: block;
}
.data-table dt {
  font-style: italic;
}
.data-table dd {
  margin-left: 10px;
}

/**
 * list tests view
 */
.list-tests .actions {
  width: 85px;
}
@media (max-width: 600px) {
  .list-tests .actions {
    width: 43px;
  }
}
.list-tests .content {
  width: 100%;
}
.list-tests .actions {
  padding: 10px 0;
}
.list-tests td {
  border: none;
}
.list-tests tr {
  border: 1px solid #ccc;
}
.list-tests tr:nth-child(even) td {
  background: #f0f0f0;
}

/**
 * action buttons
 */
.actions a {
  background: url("../images/sprite.png");
  background-color: #ccc;
  border: 1px outset #f0f0f0;
  display: block;
  float: left;
  height: 40px;
  margin: 0;
  width: 40px;
}
.actions span {
  display: none;
}
.actions .run {
  background-position: 0px 0px;
}
.actions .analyze {
  background-position: -40px 0px;
}
.actions .edit {
  background-position: 0px -40px;
}
.actions .delete {
  background-position: -40px -40px;
}

/**
 * forms and fields
 */
fieldset {
  border: 1px solid #ccc;
  margin: 15px 0 10px;
  max-width: 300px;
  padding: 10px 15px 10px 10px;
  position: relative;
}
fieldset legend {
  background: white;
  padding: 0 5px;
  position: absolute;
  top: -10px;
  left: 10px;
}
fieldset label,
fieldset label span,
fieldset label input,
fieldset label textarea {
  display: block;
  width: 100%;
}
fieldset label input,
fieldset label textarea {
  border: 1px solid #ccc;
}
fieldset input:disabled,
fieldset textarea:disabled {
  background: #f0f0f0;
}

/**
 * running tests
 */
.run-area {
  background: #f0f0f0;
  border: 1px solid #ccc;
  bottom: 10px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 70px;
}
.run-area iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.big-target {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  opacity: 0.8;
  top: 0;
}
.big-target.ready {
  background: #cfc;
}
.big-target.running {
}
.big-target.done {
  background: #fcc;
}
.big-target span {
  display: none;
}
.big-target.ready span.ready,
.big-target.running span.running,
.big-target.done span.done {
  display: inline;
}
.big-button {
  font-size: 200%;
  margin: 20px;
  text-align: center;
}
.big-button span {
  background: white;
  padding: 10px;
  text-decoration: underline;
}

/**
 * analysis and charts
 */
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}
.bar text {
  fill: #fff;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


